<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Automatic code review report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="text-center mb-4">
        <button class="btn btn-primary mr-2" onclick="location.href='/review?pageNumber={{ nrPageNumber - 1 }}'"
                {% if nrPageNumber <= 1 %}disabled{% endif %}>Anterior</button>
        <button class="btn btn-success ml-2" onclick="atualizarStatus()"
                {% if qtTotal <= 0 %}disabled{% endif %}>APPROVED</button>
        <button class="btn btn-primary ml-2" onclick="location.href='/review?pageNumber={{ nrPageNumber + 1 }}'"
                {% if hasNext != true <= 1 %}disabled{% endif %}>Próximo</button>
        <br><br>
        {{nrPageNumber}} de {{ qtTotal }}
    </div>

    {% if qtTotal >= 1 %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">Descrição: {{ comment.txComment }}</p>
            <p class="card-text">Autor: {{ comment.dsAuthorUsername }}</p>
            <p class="card-text">Tipo: {{ comment.dsType }}</p>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" onclick="acessarURL('{{ comment.lkComment }}')">Acessar</button>
    </div>
    {% endif %}
</div>

<script>
    function atualizarStatus() {
        fetch('/comment/update?idCommentInternal={{ comment.idCommentInternal }}&tpStatus=1', { method: 'GET' })
            .then(data => {
                console.log(data);
                location.reload();
            })
            .catch(error => {
                console.error(error);
                alert(error);
            });
    }

    function acessarURL(url) {
        window.open(url, '_blank');
    }
</script>
</body>
</html>
